In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'
data = pd.read_csv(url)
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
pd.__version__

'1.5.3'

In [6]:
len(data)

2160

In [12]:
data.Brand.value_counts().size

27

In [13]:
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [15]:
data[data["Brand"] == "Dell"]['Final Price'].max()

3936.0

In [17]:
data["Screen"].median()

15.6

In [22]:
mode_value = data["Screen"].mode()
mode_value

0    15.6
Name: Screen, dtype: float64

In [23]:
data["Screen"].fillna(mode_value)

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [24]:
data["Screen"].median()

15.6

In [32]:
Innjoo_brand = data[data['Brand'] == 'Innjoo']
Innjoo_brand

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [35]:
df = Innjoo_brand[['RAM', 'Storage', 'Screen']]
df

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [51]:
X = df.values
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [52]:
# XTX = X.T

In [53]:
# XTX

In [54]:
XTX = np.dot(X.T, X)

In [55]:
# XTX += np.eye(XTX.shape[0]) * 0.01
inverse_XTX = np.linalg.inv(XTX)

In [56]:
inverse_XTX

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [57]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [58]:
w = (inverse_XTX*X.T)*y

ValueError: operands could not be broadcast together with shapes (3,3) (3,6)

In [59]:
import numpy as np

# Step 1: Convert data to NumPy array
data = [
    [8, 256, 15.6],
    [8, 512, 15.6],
    [4, 64, 14.1],
    [6, 64, 14.1],
    [6, 128, 14.1],
    [6, 128, 14.1]
]
X = np.array(data)

# Step 2: Compute XTX
X_T = X.T
XTX = np.dot(X_T, X)

# Step 3: Compute inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Step 4: Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Step 5: Compute w
w = np.dot(np.dot(XTX_inv, X_T), y)

# Step 6: Find the sum of all elements in w
result_sum = np.sum(w)

# Output the result
result_sum

91.29988062995815